#ifndef {{headerGuard}}
#define {{headerGuard}}
#include "CDFEG/{{baseClass}}.h"

class {{ele.name}} : public CDFEG::{{baseClass}} {
public:
    {{ele.name}}(CDFEG::PhyFieldData* pData);
    ~{{ele.name}}();

    virtual CDFEG::EleSubResult& run(
        const std::vector<double>& r,
        const std::map<std::string, std::vector<double>>& coef,
        const std::map<std::string, double>& matParams
    ) override;

    virtual CDFEG::uResult uEle(
        const std::vector<double>& r,
        const std::map<std::string, std::vector<double>>& coef,
        const std::map<std::string, double>& matParams
    ) override;
{% if baseClass == "IsoEleBase" %}

    virtual std::vector<double> shapeFun(
        const std::vector<double>& refc
    ) override;

    virtual std::vector<double> coordTransFun(
        const std::vector<double>& refc,
        const std::vector<double>& coords
    ) override;
{% endif %}
};

#endif
