{# 物理场循环 #}
{%- set cond_types = ['volume', 'surface', 'line', 'point'] -%}
{%- for field in fields -%}
{# 节点处的边界条件，可先定义在体、面、线、点上 #}
{%- for cond_type in cond_types -%}
CONDITION: {{cond_type}}-{{field.fullname}}
CONDTYPE: over {{cond_type}}s
CONDMESHTYPE: over nodes
{% for disp in field.dispNames %}
QUESTION: {{disp}}-I
VALUE: -1
QUESTION: {{disp}}-D
VALUE: 0.0
{% endfor %}
END CONDITION
{% endfor %}
{%- if field.bDynamic %}
{# 动态问题边界条件 #}
{# 动态问题边界条件-初位移 #}
{% for cond_type in cond_types %}
CONDITION: {{cond_type}}-D1{{field.fullname}}
CONDTYPE: over {{cond_type}}s
CONDMESHTYPE: over nodes
{% for disp in field.dispNames %}
QUESTION: {{disp}}-D1
VALUE: 0.0
{% endfor %}
END CONDITION
{% endfor %}
{# 动态问题边界条件-初速度 #}
{% for cond_type in cond_types %}
CONDITION: {{cond_type}}-D2{{field.fullname}}
CONDTYPE: over {{cond_type}}s
CONDMESHTYPE: over nodes
{% for disp in field.dispNames %}
QUESTION: {{disp}}-D2
VALUE: 0.0
{% endfor %}
END CONDITION
{% endfor %}
{# 动态问题边界条件-初加速度 #}
{% for cond_type in cond_types %}
CONDITION: {{cond_type}}-D3{{field.fullname}}
CONDTYPE: over {{cond_type}}s
CONDMESHTYPE: over nodes
{% for disp in field.dispNames %}
QUESTION: {{disp}}-D3
VALUE: 0.0
{% endfor %}
END CONDITION
{% endfor %}
{% endif -%}
{%- endfor -%}
{%- for elem in elems -%}
CONDITION: {{elem.type}}-{{elem.name}}
CONDTYPE: over {{elem.type}}s
QUESTION: mate_Num
VALUE: 1
END CONDITION
{% endfor %}