#include <iostream>
{% for field in project.fields %}
#include "{{field.fieldDataClassName}}.h"
{% endfor %}
#include "{{project.name}}Data.h"
#include "CDFEG/gidPrePost.h"

int main(int argc, char* argv[]) {
	if (argc < 3) {
		std::cerr << "Usage: " << argv[0] << " <project> <path>" << std::endl;
		return 1;
	}
    std::string project = argv[1];
	std::string path = argv[2];
    {{femDataClassName}} data;
    CDFEG::GidPrePost gidPrePost(&data);
	gidPrePost.setFilePath(path, project);
	gidPrePost.pre();
    data.caculate();
{% for item in project.outputItems %}
{% set itemIdx = loop.index %}
    CDFEG::ResItem resItem{{ itemIdx }}("{{ item.name }}", CDFEG::ResType::{{ item.type }}{% if item.location == "OnGaussPoints" %}, CDFEG::ResLocation::OnGaussPoints{% endif %});
{% for val in item.vals %}
    resItem{{ itemIdx }}.addVal({{ val[0] }}, "{{ val[1] }}");
{% endfor %}
    gidPrePost._resItems.push_back(resItem{{ itemIdx }});
{% endfor %}
    gidPrePost.post();
    return 0;
}
