#ifndef {{headerGuard}}
#define {{headerGuard}}
#include "CDFEG/PhyFieldData.h"

class {{field.fieldDataClassName}} : public CDFEG::PhyFieldData {
public:
    {{field.fieldDataClassName}}(CDFEG::DomainData* femData);
    ~{{field.fieldDataClassName}}();


};

#endif
